<a href="https://colab.research.google.com/github/Thofa90/Customer-Segmentation-for-Personalized-Rewards-using-Machine-Learning/blob/main/Master_Project_Travel_Tide_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Feature Engineering**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Import each Table**

In [ ]:
# importing data
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/My Drive/Datasets/master_project/'


hotels = pd.read_csv( path + 'filtered_hotels_new.csv')
users = pd. read_csv(path +'filtered_users.csv')
flights = pd. read_csv(path +'filtered_flights.csv')
sessions = pd. read_csv(path +'filtered_sessions.csv')
print('shape_hotels',hotels.shape)
print('shape_users',users.shape)
print('shape_flights',flights.shape)
print('shape_sessions',sessions.shape)

Mounted at /content/drive
shape_hotels (13772, 11)
shape_users (5782, 11)
shape_flights (13193, 13)
shape_sessions (47436, 13)

**User-based analysis** helps discover which **perk** (free meals, free checked bags, no cancellation fees, exclusive discounts, 1 night free hotels with flight) matters most to which segment, based on their actual behavior — not assumptions. Then offer the reward program to customer based on their actual behavior which will be boosting the chance that they’ll join the **rewards program**.

In [ ]:
sessions.columns

Index(['session_id', 'user_id', 'trip_id', 'session_start', 'session_end',
       'flight_discount', 'hotel_discount', 'flight_discount_amount',
       'hotel_discount_amount', 'flight_booked', 'hotel_booked', 'page_clicks',
       'cancellation'],
      dtype='object')

In [ ]:
# avg clicks made per user from session table
page_click = sessions.groupby('user_id')['page_clicks'].mean()
page_click
# one user can have several sessions

user_id
94883      9.125
101486    16.375
101961    15.750
106907    30.000
118043    20.500
           ...
792549    14.250
796032    18.500
801660    14.375
811077    13.125
844489    12.375
Name: page_clicks, Length: 5782, dtype: float64

# **Creating new interesting columns on the tables**

In [ ]:
hotels ['price'] = hotels['rooms'] * hotels['hotel_per_room_usd'] * hotels['nights']
flights['price'] = flights['seats'] * flights[ 'base_fare_usd']

sessions['session_start'] = pd.to_datetime(sessions['session_start'],format='mixed', errors='coerce')
sessions['session_end'] = pd.to_datetime(sessions['session_end'],format='mixed', errors='coerce')

# Duration of each session
sessions ['session_duration'] = sessions[ 'session_end'] - sessions['session_start']

flights['departure_time'] = pd.to_datetime(flights['departure_time'])
flights['return_time'] = pd.to_datetime(flights['return_time'])

# **Features from Sessions**

In [ ]:
sessions.head(5)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation,session_duration
0,536782-40ea451ff53841b296036272519d4e7e,536782,NaN,2023-01-18 19:33:00,2023-01-18 19:34:20,False,False,NaN,NaN,False,False,11,False,0 days 00:01:20
1,570600-1913f4dc10e445e59765e73588e68dfd,570600,NaN,2023-04-28 21:24:00,2023-04-28 21:24:16,False,False,NaN,NaN,False,False,2,False,0 days 00:00:16
2,511055-89aed43aef924e97a0b4cadff654328f,511055,511055-57ed6923358d47a0a3be86eaf8128ece,2023-02-02 20:49:00,2023-02-02 20:52:39,True,False,0.1,NaN,True,True,30,False,0 days 00:03:39
3,677209-77c593f41bd04228b89a55b3a9d34141,677209,NaN,2023-06-01 21:20:00,2023-06-01 21:20:24,False,False,NaN,NaN,False,False,3,False,0 days 00:00:24
4,546867-c1b3888def70494a893b025bfa3a1b80,546867,NaN,2023-03-04 20:38:00,2023-03-04 20:39:08,False,False,NaN,NaN,False,False,9,False,0 days 00:01:08

In [ ]:
# Amount of trips and sessions per user (feature 1,2)
amount_of_trips = sessions[['trip_id', 'user_id']].groupby('user_id').nunique() # how many unique trips does this user has
amount_of_trips.columns = ['amount_of_trips']
amount_of_sessions = sessions[['session_id', 'user_id']].groupby('user_id').nunique() # how many unique session does this user has
amount_of_sessions.columns = ['amount_of_sessions']
# avg clicks made per user from session table (feature 3)
avg_page_clicks = sessions[['page_clicks', 'user_id']].groupby('user_id').mean() # how many unique trips does this user has
avg_page_clicks.columns = ['avg_page_clicks']

print('min amount of trips',amount_of_trips['amount_of_trips'].min()) # 0
print('max amount of trips',amount_of_trips['amount_of_trips'].max()) # 8
print('min amount of sessions',amount_of_sessions['amount_of_sessions'].min()) #8
print('max amount of sessions',amount_of_sessions['amount_of_sessions'].max()) #12
print('avg_page_clicks', 'min:',avg_page_clicks['avg_page_clicks'].min(), 'max:',avg_page_clicks['avg_page_clicks'].max())
#amount_of_trips
#amount_of_sessions
avg_page_clicks

min amount of trips 0
max amount of trips 8
min amount of sessions 8
max amount of sessions 12
avg_page_clicks min: 4.125 max: 109.125

         avg_page_clicks
user_id
94883              9.125
101486            16.375
101961            15.750
106907            30.000
118043            20.500
...                  ...
792549            14.250
796032            18.500
801660            14.375
811077            13.125
844489            12.375

[5782 rows x 1 columns]

In [ ]:
sessions[sessions['cancellation']].head(3) # returns all true cancellation

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation,session_duration
132,581491-b003a392208a4ac7ac593d64f1925164,581491,581491-d35d5deaf3b94448985188367b7a9c11,2023-07-13 20:57:51,2023-07-13 22:57:51.000000,True,True,NaN,NaN,True,True,161,True,0 days 02:00:00
285,478146-b5260ecf071d4cbb8b10bc45157529c1,478146,478146-58ebe4bb5b0f4912a0c85ae5232e2935,2023-07-07 20:30:54,2023-07-07 22:30:54.000000,True,True,NaN,NaN,True,True,200,True,0 days 02:00:00
379,560680-ca6b428f7de14c01bdf43b3ebccef16c,560680,560680-54e6857f4e42431e8ad7ff187a0e0d24,2023-02-17 14:09:30,2023-02-17 15:37:15.755074,True,True,NaN,NaN,True,True,87,True,0 days 01:27:45.755074

In [ ]:
# Amount of canceled trips per user (feature 4)
canceled_trips_count = sessions[sessions['cancellation']][['trip_id','user_id']].groupby('user_id').nunique()
canceled_trips_count.columns = ['canceled_trips']
canceled_trips_count # min cancel 1 and max 2

         canceled_trips
user_id
106907                1
171470                2
174997                1
182191                1
204943                1
...                 ...
736075                1
752933                1
763129                1
770252                1
796032                1

[574 rows x 1 columns]

**only valid trips interesting for analysis**

In [ ]:
# Trip id of canceled trips
canceled_trip_ids = sessions[sessions['cancellation']]['trip_id'].unique()
print(len(canceled_trip_ids))
canceled_trip_ids # trip_ids of all cancelled trips

589

array(['581491-d35d5deaf3b94448985188367b7a9c11',
       '478146-58ebe4bb5b0f4912a0c85ae5232e2935',
       '560680-54e6857f4e42431e8ad7ff187a0e0d24',
       '488314-616505f4f9fd40059b9f8844c6e1929c',
       '513787-15bb5ff1d8a94b538ca2e2c0d58c05fc',
       '562275-5b2550a902f14543a77ca64eccdce8f8',
       '521335-087c5132bfe640af9360f0d76147f698',
       '509421-231423b401c84e999eb56675a6995dee',
       '599649-419470087b72404a9a61f9ca92963971',
       '622343-2061dc37f60d410f9af97a51a7c8b676',
       '565827-22aa93ceeea24a01a41e5e1a50ceff9b',
       '331039-aeea9e6e87ab49bc9d6012a4162d82d2',
       '547100-c11a039eff2348da975f7f853f138d6f',
       '655166-b4985d2f61d24462a7df41e77b73d86c',
       '521491-12a59e8343ab4c98a8489573bac1070b',
       '547006-86c559087a7e47c6a2378ae9a769c223',
       '524194-fbd57fb047634eeb8b4dac9e0b07fc1b',
       '533932-c899b45d3a644d0a848bf066af4bbc7f',
       '504916-5761fe54f65241bc9c5a6b092da887c2',
       '566953-7f382e8ea4ba4476b4c16b6f610b9752',
       '561031-e337dffba0cf4e1a991eec66f113df57',
       '522233-f0458a2d1caf4e24b05f71fcde430c93',
       '426478-5aecf0761d5743429230e1ccb809f520',
       '525610-d0527eaf7d9d4021abce25a66b37a118',
       '581343-d41a1449cfed46319316b86b527d73f7',
       '635666-244877d61764427eb341fa4e9044e19e',
       '350648-8ce8d5e4cca344c8bb02f415e4c02bff',
       '464614-9db17c9cd0d84f7b9ae2b9b0f61e12df',
       '458479-0212ba6136d34852879cf693af2a1d3c',
       '525631-2a746d641e724457aacee4c48b6a5982',
       '513543-9f07f5bec59c479595d02aea0bfd933c',
       '584549-1a16e89122344cbbb649d096fcfed54a',
       '603635-c9c567829ce04a359ab5f7d43cccd3ce',
       '421666-9a649a4d20f4423eac7eec51ddc9b208',
       '522420-c11866e203fe4f3dbf3cccc0b1655e90',
       '573153-2d717d45c01f4970852a58756068414f',
       '534445-579a89ef9055499d8a9002e8e66d78d5',
       '386914-ccd08cbff212418fa6e7c0950b248cd4',
       '563148-c4cd14e320474992b37de8bbc708d12c',
       '716801-c65bdb8c123b4a26806ba87f30965630',
       '573648-a053e400ba4542239cbfe357f048f3c8',
       '547150-ebf8ed646bd34e348e7dadb2be043327',
       '452034-e37f8a99ed8f41708ea03f0967162377',
       '575908-4549815e13f349e6bc75dd7e3a124264',
       '553967-c3a5251721b34ec4be57ff8379a582c4',
       '551023-f1f23953a682436c9fabe698368eb3b6',
       '529205-cda05f108a824017a5feeeadb4f6a92c',
       '609720-cc1ef71e62a84b5cac054ef96552c900',
       '692211-41a1f8c375c64cfd9104fe2477074de7',
       '599065-b45a1a4194b346818aea3583273e0a30',
       '582903-231d6ad68c024cfa8e4203cb36d49221',
       '517772-cd9d72e140cd44feaf7624ea5ce3cd36',
       '728820-51efaf48ca164a92a6aa1b0d40ea8a9f',
       '510108-e7b4f09ea9b748188803fc01aa07dfa0',
       '524821-7386b0a5b74247d298f017a499ffecd2',
       '519787-9313a9b33c7443f782926252f012189f',
       '555310-1553e101168843619423562958292ecf',
       '550110-e52731aa73594f68865126d491f395c4',
       '507805-09b92c8726e54f71919dfd02393469c2',
       '420669-70c898b1d26d4150aacd829ade993955',
       '531427-3d2c45b39b04468aba50e89438045bf0',
       '526203-e72eea5ff13440cabdf01584aaef7199',
       '586192-d556ee1b229946d7b070ec84559b8759',
       '430722-f51bdb37d528441b94a54135ee95ba29',
       '431602-7c133e6b225b40db96465a6a61480072',
       '582446-e9d1265f19f1472d9ba8af56a3cbbb64',
       '513875-50d61e6bdb9644349750a70f1eefbdcf',
       '479524-a08ffebd61c8455383ae6d0f42fd4b99',
       '520397-4d0bc55b2d01416bb352990130d262e8',
       '590230-5fab9c0ff01244acb426433001da32cb',
       '592378-5ed98525cf02463c8028cfb5cc0d1615',
       '216796-e239539111354f4e9d333877dde83ae0',
       '446138-8558eca28d2f4833a4ad815535f0c6b5',
       '532410-3a3d4bb811c641c4a7a5454389edfe5d',
       '603592-c01dd278fa8d4bb6b31e142bf6b34310',
       '555030-cac37e86cb474b3baa97df7c6df68ddd',
       '665746-79fa4a08ca6545da9f560e761a8f5277',
       '559695-6448a4247169432e911f1de83477125b',
       '434623-8bfb57009f0349f48082f5c01dad5750',
       '517898-8797fcbe5d4e405babb772adf3e29963',
       '516679-1d0b5928d5fd4dffad2ea4345e1489c7',
       '548189-7be7bb08057f43fb955dc0bb4a4d1dd5',
       '576849-10eae9ef32ef401a9988324159a97694',
       '589228-7cbd8bd73eed4c549a0074919e71fdc8',
       '584843-40e1ccdc1bea4f159de3fd0533237fec',
       '561846-51df52324fa744739999e4d969f6e865',
       '518629-e3fe7f74c0714d9494802da865565850',
       '624497-bcf3c698667244118bb6cccfad552970',
       '174997-a7c3a96620594e849a2345ac4e0bd45d',
       '607152-a3c2ce530b164557883b8022144c885e',
       '587234-f5592a92acc640288e03e220e97cacbe',
       '380949-1aa5da430295436ab4b49a94e9cedc2b',
       '620884-2689771c45974e1ba0c77980586d1a14',
       '520861-df209855e39a4b3c93cc547763a87ea2',
       '591582-61f9e9bfb2dd461989dacc9f5b76371b',
       '527133-3a5fff725dcb4b36a133acfc12641024',
       '690420-7d4259fe983e4f509e08e6a9e330cef0',
       '516301-ed464826afef4e3bbf72443258e7ba0d',
       '519747-9cf248b57fb04be5ae1afbaa60f6909e',
       '527455-4156ab4dadbc4e5e894acb55ad4a61ab',
       '524980-b874619a6fe94b4fb9189b175d7181ed',
       '511665-c42feca2cc444f59addc64ae0f980c43',
       '581085-fd529c769568421aac3dd7f5c951b37b',
       '547693-1c2be4e98466469696ed8258c3a545cb',
       '535007-0e336cd325f14e72ac2cf331cbc3f290',
       '491995-bb2b0e546b33413a8b771c98c6af33b6',
       '510343-0de698be571d474fb912a35369e6b080',
       '566059-6852ec017d50442785fb3d73da8f1538',
       '171470-dbac73113fbe4a5aa537f55f976f63e7',
       '418692-b2a78501df0942a984bc5f16567f777e',
       '468832-b43135451e9a415e80000d30ad571e6e',
       '547594-b9108d6b01b943a6a8c5050f5b11ebc1',
       '594027-48ac5d6bfc1c4490abf41754d6a2ae87',
       '541047-f1577808552e40c4b0f18b347d2e0729',
       '546419-cf6064d322c84d00a9d2a0f1911d22ed',
       '541040-eeab618f97a7469fa59ea1f1c97a43b5',
       '538666-58c55e74ded243a49f697b9fcbae7cc4',
       '529704-95b198ca55724343aa1316c564012ab1',
       '511827-781ea8ef784b49e49849c25c2c23ee66',
       '573191-5a479c2f675a45449bfd11e0236f2cff',
       '523768-0689f6fa1d634f559ffca64a4af99d7e',
       '496408-297026f08ad24b9dab1c052eba391a65',
       '691541-d7ee6ffe904f40fd8ae41461e6756d56',
       '544406-4344610d6ee748a8bbee4014aba37099',
       '522111-a0dfaecd5e574647a0e209cd9883d7b1',
       '559936-c3bd005e92b14cc383a8e8d8afb5d668',
       '568602-43f38d7225b64fb7bb3f0a864fca0e9e',
       '593786-8915188a7555495fa0f0cb1e57759534',
       '517961-a0b679a123634ce5a1fcb562b4fa7105',
       '531654-8bf9f4fe11064bd2b1ce9bb977e421e6',
       '510188-181cfbcba6bc4cd19e9b18585d9e7568',
       '546280-9c963abb1f174a21992398d5b97e1c15',
       '510558-91a82d2a6f624fbaa7cb7c0385e49d96',
       '557569-eca1ed60a07a4794b87f2978cbffc611',
       '542874-4913b8fadd454124aae2dd5578a07e7e',
       '473402-5d30afff10b94c6da1780465944986cf',
       '306819-da954dd34eb04a1aae77afaa4088874c',
       '474120-6d1466f897ce4ee5970330510330c518',
       '542142-ad393d3be2484e948b359ec4b19bd825',
       '605615-16d4077b98404295b000d785e2c86c5d',
       '533755-6efbed4bd76c4fb9ab7d263d4bb8ca5a',
       '497077-e33210cc4b924e3b9e29c8806acfeb77',
       '595183-6b2e404c32cc4686994e34f2a51b6bdb',
       '577541-16afcc9babcc4b4cb4fd7643971c5d38',
       '581679-4bfc3cd149aa445cb61a5d485bd75ce2',
       '497077-df69bf91a0d34435be0521cf61b9b51d',
       '482811-f13b22271c2a42af8be6067085321a8e',
       '554213-860e3f9871df4d2c8eb52141447fb834',
       '454934-2b0809d98c0a466ab8f1502d8c229ffc',
       '536212-44e78a36427d4c1ea7be4f960f55abbd',
       '492497-8f9d6591afae43ae91c1253a98138e4f',
       '727886-d56cef98d17442b1b5fca07cfdc18ab4',
       '733654-777d480b8d09486189720f37e154f60c',
       '523715-374201604c4a4db7a84c22c3f46934c0',
       '586251-3b470431d9f541509dfee825f80d8716',
       '521331-bef50434aea9451e9b18b9f475f527bb',
       '679831-8f98ca3ea03040e39743d34f59b2cd3a',
       '516806-3c087aa7d08a404a9389734e0f071220',
       '106907-718c9cf6c29245fa9b2b31893833ac2c',
       '520539-ffb9736b5f6b44bd8628b3fbac49e7c7',
       '614311-d21df59cc4ab4640add93d76b450f37c',
       '566533-35728fde3d064a51ba2161568ac2927c',
       '541162-0c60cca15a8c491b8c4b86a4f655a188',
       '584787-68936a9d36944a87a0e6b83fd9311af9',
       '666174-a130094ae47c4996b6993307d017ac7c',
       '515085-cd19f886d5f94997938feda4a1178ff9',
       '568931-b105c557ab8e4c5599d7e63572d537b1',
       '606930-8d79b3ec439d422fb8d2c076ee2f78b9',
       '538641-18df32946fe34051985d6c139c938369',
       '625555-857cd124334d4c02ae81eda8ad14498f',
       '541906-af3223c6e40d46deb43f8b1bf5d97ce8',
       '537413-d4000260e103428dad845b014f6289f8',
       '538413-32dfc663c0744047af3409708210d38b',
       '377069-ba230fa18c654d9faae84993b5eec0a3',
       '602734-0b89e363d8824d2a95a7fbdcdaae2f65',
       '556623-8e3541f0be604cedac212e72b2c41819',
       '550514-1a725c0aef0a4f058dc2fddcc5599fe8',
       '546847-9dd4899fa74d42a78c15e0f4fd533849',
       '535905-de3208b274bd49c4ae6a40e3adb90914',
       '540614-af5bc1ec7eca4c0a8a445a5df727c633',
       '510188-7324773c877d4342852b3a43ebc8ec00',
       '547164-1eb98c49b72642a6b044444229b74735',
       '545089-33b20054dbcd4702a9ba2731eb2e75a8',
       '549377-7d80ae9a8a3b4843ba4c3159d01d18d8',
       '699411-373fc9148ffb473a9312ee08e686d766',
       '561908-740e5ae22dfd445a8fd7c7c79df60b19',
       '511784-f881f46533d142d0b61b37c5e201acdd',
       '577901-3e950d1bd17940b09ddd41ec468543c5',
       '560739-b91cdfb66dee4b618b2c383cebcc4300',
       '519383-25cccc9795dc482696f8ece8a2f59fe5',
       '581729-1a4c5c516a9443609891710f35ef1e5b',
       '590077-3a42eb5a736741718889a83890f4e7eb',
       '647662-fda6823a53794c58a1933904333ee145',
       '573670-4484710416734b03bad5e7cb05a8d2e5',
       '542095-da1172e2431342eba39c1630cbf81673',
       '538919-a690177bf11d4e98b515349d86dd8ccc',
       '511677-7862d96f7d7448c3883074bbef3ee707',
       '466723-74f4e79cac114a0885abe1e86ece97b1',
       '564620-19cb9d4ac76b4f428fcce35dfa7b1b19',
       '517356-b8b99a211cda49d08380fd98ade6b025',
       '562612-1852fecdd29e43a69ced4eed401a08b0',
       '487680-95f84d5194254e73b7a0736129be5462',
       '428858-d4a4808259784792bdaca43f5b9a182e',
       '565565-5fcbfd8953e14ddeb5b4d17878327b11',
       '526676-39ba1013c8b6403ab03950df223aff29',
       '568773-2e2e4ab3d5fb47f09ae4df68fb393bd4',
       '627176-620c60f356ae4571923c43392b20d39e',
       '545404-c6825e50971342f7a655f1a208b8730f',
       '530196-397bb05051ea4ba9a0e35697581b9055',
       '511552-b4c1883889e044aa97dc00e1a0b81fe3',
       '538069-cb1630986c4643ddad471bee96914547',
       '545763-341f7140fb04457bbc6ec88a20849a41',
       '330764-c2c99cb7796b4d788bb63445fc470567',
       '528839-8effe685ccb34ad88acda753a927d26c',
       '546395-7d655feedacb45b9b6cc8cbb68b5a534',
       '541262-daf08e9ed8264cc78ff0212bbee3fbcd',
       '528500-53a30c4a7f5743348ec1fcf295ae48a4',
       '522761-44b7f6f9dcca459c8bbfb2055561a872',
       '575554-11ac1fd8e65044de86c073e2bd96f3b0',
       '686509-f460ec7295a34938933d92bd11ab4e64',
       '204943-5efc41a2816e4e9384c6356f547860e2',
       '381465-cc7ce7f47ba24dc6b8b0cba7e215d389',
       '551245-755ec1ec52d349d69d9f3d58f2a61d68',
       '420669-cef1f03b72d54661bd5e3dd56fc1d4e6',
       '530199-c53274acf7714ab58032095632012fc2',
       '736075-cd41a4f2b3c44598a797e45b61531573',
       '549152-29afdd017ab940bd87ad0d7e9b93bc77',
       '507732-83dd191a3d72486eb66b6ef8b9902779',
       '587754-ac3b2ec37f404574b4c3c066ddfeaa85',
       '596559-86ef729983b3421bae0a26c9e0d30b64',
       '411179-3e79bf8334914815b7dc005dc0ebd89a',
       '598533-40848e5db09e46aa8f56c0c3ccdefb2d',
       '549938-32c248db14594eea98d3e559d713ba4b',
       '542418-d9828e3e1cb241e980541f82fbae29a3',
       '602769-c2c2c9b516e04d918b010b32c93f4e15',
       '586272-d77d454974f04ea5baa78a93696a2af4',
       '582801-5a2912aef1374e7aaf847cc1ef7ce7dd',
       '501947-bd52e9f6e5d8480488e51a22872e77a0',
       '538641-dcda1b4362244e8695630fd011296b64',
       '518896-c6de4b6a4c2b4893a358727a77a020b9',
       '651491-0b0e17b72e4946cc9139bd890164f09e',
       '512147-aef346ffaf414cdcbc367aac71510515',
       '666292-00b59fd846614e1db90271ca4ac85e77',
       '258451-69d3c630b048471891772154fd235670',
       '640867-d6607719796e49bca817b97c7eb0be06',
       '632475-791c7c6caa464b989b78f7b820b32fdd',
       '519718-72231d390fc84a9db65cbbbfd4dc33f0',
       '632136-ad2ae8f175214a90b7853ed811602d30',
       '618157-4e0b5098385b4be7923d68d093b5e5d4',
       '565511-72dbf684955841e2b1039ff172ab2dd0',
       '596863-e2a3e727d426480f90802ff405411666',
       '204997-303a3759d5814673b7c60db793d46cdd',
       '525488-2363257aa264424387adfe4b3bb4ea85',
       '629812-553e4d6f84454beb9186c0ac4804e5f8',
       '547130-37230686229d4d0aacff29cfa6e8ae00',
       '547555-a630c0d6ca3b4002a43a31a1aa6e9ad6',
       '514167-0774932aa45e48e08b95d5a84c6b2f45',
       '595123-74fa5a67a9af48ea89d4e4063fbed5bd',
       '530667-a0986c1ce1ee45eda07bf741748c9974',
       '357737-996df5d1f37a4315be6c01d6768d3a7f',
       '452034-9732fe4d70a8449ca723a1fc839bcbc7',
       '595958-c770ea29d3414f30abd5a365bb249a4a',
       '541539-78eaabb75b20416dbd95b5454ecd2c31',
       '485393-05c4b2232c834c7c953a38efe8b555d4',
       '458479-67dbe76fabad41dab746a738dd48ea60',
       '516287-c0b46e14564846a6924ee99a3f4ccbc6',
       '576677-ffad2ed5b4dc4d61b7a4c020c807c3fd',
       '557963-6beab9dd45a54f43b13f3bd7c7a8b4be',
       '603440-38e5118d8d5b4ee384fb750c774c641d',
       '520947-83843cd2814a4b48b62399969dfa5c60',
       '616718-0714274d32e94980aad5d3adc6ade288',
       '486751-ac8269b44cf44e37a344c955f34f6146',
       '543976-df5c03d530cc416ea3b36f763f0fa07f',
       '512928-8febce3b3a2b470d9519243765a86519',
       '587675-655c6e168dc8442e87542e5a1acdcafe',
       '518135-037b0b98b1a64214b54bc9a05c9c5b78',
       '608343-5aebcff9ea354015a90f6b75f123f4c4',
       '516368-9e890b48e6a540ccb8264922339f7977',
       '515139-d5f18e90aa694c0cb20a354ae34af763',
       '534858-cf922930f2fb4b6f935f4dfb412b564d',
       '576370-10d9c94c8ae847369486b566ffd2e2ad',
       '564495-245ccb5e8ee6409cae49a0a9d63936d8',
       '530720-8838f69f1f8849f29836cbe731eb4464',
       '599454-4a7ddf56cd5149c1b83bc55e056a1425',
       '182191-de32473e56244ac3bed8490f76398b2f',
       '609393-b92d487037ec447db1e3ddf977709a52',
       '592403-c1ede09f5fcd4819a2693b7535164a19',
       '664405-40756d5ff89e4be98eefd780c9c587ea',
       '617402-dbedb05ad1654772ab78c1303eb3c001',
       '423042-d80c9d5c1b5f4ee1ac40567b34c7242b',
       '532941-566cafc06d2249ff8cb55dabf3a04292',
       '721570-79070ea150c1431f9b31cc2af61900ec',
       '576765-d7976caad5454bb88a977c97278f8162',
       '557762-b31c36e8907748c082cfc601a3032b0f',
       '552653-e8e907835eec4dd69ea756fc9e1b8219',
       '550830-09f5236138eb48ed8b0ca4f5d96f121e',
       '600842-a761ad7125884f1681be39367a850a09',
       '539919-b86f69ba1d224c0bbbf05d9082732e0b',
       '585650-52b353dadf7e4965ab8cb567f3dc34bf',
       '524448-944c2290892747b5b22b8907d23694be',
       '604688-636bda88a1ac4ed781a345ab77857073',
       '359072-9cfee1f326404c8ebd1c3bcc0e18e0d6',
       '532544-c4e0a1483ac345138eee4fe21da78679',
       '544685-866fd59cf88647f884aed1fd3809361f',
       '536039-ec3b1d253ab9418fb971f80f69e67c67',
       '546529-4c9f27288357454e8df1a8282914c96e',
       '633725-dad9263a436648f79315f0a788d69fda',
       '557815-68e18cf3b75d4649a5b5d256dc94924e',
       '544495-0ad71b3dbc594588b39596f73a80112a',
       '557726-a0958b48c50e4f1c92c1ba5829a09ca7',
       '558114-17337bcef3534a5ea0ed8eecef91e880',
       '512558-1de3b9722e6e4043a5e5dce213d2ef5e',
       '514925-2adad75c6ad041c09df47ebecbeea978',
       '653838-bcd733bdf3bb47b1ba0358dc7c2a975d',
       '511331-bc2b94e3992c42bbaef1e83e11c15c05',
       '525447-346ab7b79f0149ae913c86d32b02f1a4',
       '612220-a8bbcb3b8dfb4c979796aae3919834b5',
       '488430-d05277172d504096bacbb6550472d6c8',
       '557762-58e3d718c635481d9228a2faf652fd26',
       '529362-1fd6006c5ac046ce977db26d42cee5d3',
       '577287-3c560e059f43405cadafa1a31ef0a544',
       '570750-c9ba710b2f5f4074aeb0d09829444040',
       '551622-54bfd9450d2a45eb971dde04950753c2',
       '535024-b625b03668854d9db4574693ebc7a848',
       '523299-a589588ceb86422193fbb1c1ca1a6bde',
       '560085-0e9afc4780184cb4ba5b8c3b4c7fea23',
       '563831-20e848a687974b71b662bd8a59f4720a',
       '709630-d32a2f77f0954b4c96be3d57315dd445',
       '507395-1d5e81e1cf1348eeaf103535e4656701',
       '548422-15e6a27c5f274541a2956f5a6a478aac',
       '485658-97412fcf154c489088cedff30edcded2',
       '546688-d8a745c4f3eb4e98a7b4d5bb09b0989e',
       '579307-e8be29c7711a4d3e9f961525e377a013',
       '520429-2c65a2a279e14105bbe446a1f8b589a6',
       '539528-700e1341a67648ae87bbf3f9cea98f05',
       '640689-fc78829e4e6a429bb139e27e751090a4',
       '547878-832b357911f84a5fa0c831eb8db51d13',
       '566999-d5b7ded4546f4731a2c795ebeb86efc3',
       '535686-ccd418c7b61b42b489c74acd5c71258f',
       '510700-6309503dd6d24bbba195dd64e5073915',
       '796032-e866b3cd59b64e81aab5cdfdac22e7ef',
       '482548-ce79f8913ae0419facec2191e54dc588',
       '513625-efa8eec55044412ab44c7bf4336ef8b1',
       '700237-cc9fd3e6f2e44c5a98423d10367690c9',
       '313724-421019c3a541444ab74122e8b13de67a',
       '563896-c37d41e9d94c4263a0314a72109cffac',
       '407118-a6af8ef4d8ba478b8716bbb77848346e',
       '543222-0576b3b1221743c894d3d1336a3cad1b',
       '525555-10faabe248514457a076b07794999573',
       '656471-8a41d52dd1044e6fa0f2c9be6d6152a8',
       '594824-cc47422b013e45769439589a9e955eb7',
       '530514-84a33f84402b474297225a09832b3b03',
       '557262-14e2972fe6a54bb5ac8ccd6ed69e204d',
       '549121-2c0dfa43fa17480d89f98642b447fc6a',
       '575756-d4f1d8b43bc44dbc86305bd03fc7106a',
       '527401-8e3cd590337047de9bf17d70779c7b62',
       '770252-0639624df5f14094860b2abac9f00f2f',
       '512103-b5080a6a540e4e25a3f1c951e06e77ce',
       '374331-23ab3eb3abfe4004a118c586e78c1839',
       '591063-b13a35b8501d4e2b913736e2ee1ed93c',
       '586721-8fbb6c6cff7a4ba5a661e7782c5d3091',
       '513869-4b192523350949a2a02e8ddd4eb47bde',
       '546864-f714e49f93f14da1a3114ba8c5648469',
       '664401-ad8cf7dcfc084efb828aac50a42d0289',
       '502210-bbe1384e372e4ff197ca46567991385f',
       '553938-a17d8e94d2f94d86b4fd819814b43fb3',
       '563853-50b02b8b410841599143d243f1c7ab4c',
       '171470-3c9552d5b3b0401e82cb943b28eef629',
       '553773-1837e4187a564b898c7de515d9ff5c50',
       '571208-196781d6cb9340c3bbdcb61297097acd',
       '531745-42081c6675114b22becfcbf535ee297c',
       '571243-db2cee42afa4417c95bf4bf15c67395d',
       '538350-f1d5d1a4834049938b0a6e14b274df06',
       '645939-9e35fd2574f14ce6afdf7dca7d7cd38a',
       '607197-e9210e96d6084a14803b92e199fd8112',
       '488870-e6ad9f1ca3114bc7b96150e6841d1812',
       '527782-3393362026f34fb999e1ed0b4e90f6a3',
       '510078-d6ebc9a19671488193576fc80ddfbef7',
       '501708-9ae23dbbaedd4c3eafd97c729c79f05f',
       '546888-e6bcb6a0a5cc46fc95a281293dfca6db',
       '727886-dfc843340a3c4aebaa70e96606e5fb61',
       '480313-129a85cc3c5244b5962afe10c7932cda',
       '573086-f087c615b3ac4651aeee4517838ce587',
       '548193-8d09e43a96974429b3f2d5f7e86e1691',
       '464855-ff9caf2715064768861e2dde2bc4f4f9',
       '608086-db046ff57c114030a5e96e945095c458',
       '561950-d633bb87559141889afa6f82dc98715f',
       '478760-2a483c890c154cbea73bd2f8f1df6bb9',
       '531339-6ee027b0fc9b42caa329a2b519026117',
       '603033-f852d2cb7952407bad317ece433c04e8',
       '576103-46e5f25cf11144c8bbee4311cfffa1dc',
       '584115-756d51f6f8a148b389c0836c3b71fac5',
       '528743-c62add2a7d164c03ad97fbc78850e2fa',
       '559068-68140c3456f84d6282e4c9d60282470a',
       '204997-7de2de0693be4c16963e23f7f90bd324',
       '416580-2dc5394db1d54702b5ac5985b389dbd3',
       '564101-f75ce184a8604753840aea67fc537cb4',
       '515610-c2b23fea84b74256ba2554e64b3e795e',
       '474239-e53fe5c29f0a4c04ab03b316c2b1e13a',
       '521818-c57243cb232347dbba127e851e7a6f2c',

In [ ]:
# Sessions of trips that actually happened
sessions_valid = sessions[~sessions['trip_id'].isin(canceled_trip_ids)]
print(len(sessions_valid))
sessions_valid # return the sessions table with all trip_ids, which did not cancel

46265

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation,session_duration
0,536782-40ea451ff53841b296036272519d4e7e,536782,NaN,2023-01-18 19:33:00,2023-01-18 19:34:20,False,False,NaN,NaN,False,False,11,False,0 days 00:01:20
1,570600-1913f4dc10e445e59765e73588e68dfd,570600,NaN,2023-04-28 21:24:00,2023-04-28 21:24:16,False,False,NaN,NaN,False,False,2,False,0 days 00:00:16
2,511055-89aed43aef924e97a0b4cadff654328f,511055,511055-57ed6923358d47a0a3be86eaf8128ece,2023-02-02 20:49:00,2023-02-02 20:52:39,True,False,0.10,NaN,True,True,30,False,0 days 00:03:39
3,677209-77c593f41bd04228b89a55b3a9d34141,677209,NaN,2023-06-01 21:20:00,2023-06-01 21:20:24,False,False,NaN,NaN,False,False,3,False,0 days 00:00:24
4,546867-c1b3888def70494a893b025bfa3a1b80,546867,NaN,2023-03-04 20:38:00,2023-03-04 20:39:08,False,False,NaN,NaN,False,False,9,False,0 days 00:01:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47430,525089-220a6a618105405c817494f914982514,525089,525089-118e10d811ad440a8690feec4bff1f2a,2023-02-13 08:15:00,2023-02-13 08:17:28,True,False,0.05,NaN,True,True,20,False,0 days 00:02:28
47431,582801-f3c2610c200f441380a40d7bedf590f0,582801,582801-36ffbf38bbb944f29a14f0bba8b43186,2023-03-24 13:54:00,2023-03-24 14:03:51,False,False,NaN,NaN,True,True,79,False,0 days 00:09:51
47433,515523-a8d9bfbd2277461480f37b1126a557d6,515523,515523-5fbd163e4452409395e1f4615bd29dd9,2023-05-22 20:30:00,2023-05-22 20:33:06,False,True,NaN,0.05,True,True,25,False,0 days 00:03:06
47434,468666-70a4257758814acb944d9393207241ef,468666,468666-03b9b2050f5a4b239f20febab410c2fd,2023-03-04 21:24:00,2023-03-04 21:27:53,True,False,0.25,NaN,True,True,31,False,0 days 00:03:53
47435,532637-de4628b95e084c6f9d2346d66a64c2df,532637,NaN,2023-04-29 19:18:00,2023-04-29 19:18:21,False,False,NaN,NaN,False,False,3,False,0 days 00:00:21

In [ ]:
# Average session duration of trips that actually happened (feature 5)
valid_session_duration = sessions_valid.groupby('user_id')['session_duration'].mean()
valid_session_duration

user_id
94883       0 days 00:01:07.750000
101486      0 days 00:02:02.250000
101961      0 days 00:01:57.750000
106907      0 days 00:02:49.500000
118043      0 days 00:02:33.125000
                    ...
792549      0 days 00:01:46.875000
796032   0 days 00:01:25.666666666
801660             0 days 00:01:46
811077      0 days 00:01:39.125000
844489      0 days 00:01:33.125000
Name: session_duration, Length: 5782, dtype: timedelta64[ns]

# **Features from Hotels**

In [ ]:
hotels

,trip_id,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd,check_in_dayofyear,check_in_hour,check_out_dayofyear,check_out_hour,price
0,582979-5475b9940ee240bf9328a0cc0bc9900c,NH Hotel - ottawa,7,1,2023-03-31 13:32:21.030,2023-04-07 11:00:00,110,90,13,97,11,770
1,514785-863ac3b4eb984f1eb226d67955623a5d,Choice Hotels - montreal,4,1,2023-06-21 20:06:24.300,2023-06-25 11:00:00,87,172,20,176,11,348
2,588386-233db0f627cf4aaaaeaa9a632daa5ec4,Accor - philadelphia,1,1,2023-04-04 10:43:44.175,2023-04-05 11:00:00,126,94,10,95,11,126
3,474120-a87f749cf54b4f4ca9262d07080a06b2,Accor - san francisco,5,2,2023-02-02 14:18:11.205,2023-02-07 11:00:00,346,33,14,38,11,3460
4,600395-79e934e3dcf2462587a0beffbebd6783,Marriott - memphis,2,2,2023-04-21 15:58:28.200,2023-04-23 11:00:00,153,111,15,113,11,612
...,...,...,...,...,...,...,...,...,...,...,...,...
13767,583623-70097bf1d1334cfb891ac2bd09f448ae,Shangri-La - montreal,4,1,2023-02-23 17:25:07.185,2023-02-27 11:00:00,142,54,17,58,11,568
13768,512377-acf089357a6b497d91eda34bb532578d,Marriott - washington,6,1,2023-04-02 12:25:51.465,2023-04-08 11:00:00,446,92,12,98,11,2676
13769,598533-40848e5db09e46aa8f56c0c3ccdefb2d,Hyatt - macau,12,1,2024-01-24 09:54:31.635,2024-02-05 11:00:00,114,24,9,36,11,1368
13770,497042-fa163de72e234eaf9c9bc8b477fbf66a,Hyatt - san antonio,2,1,2023-04-13 11:40:58.350,2023-04-15 11:00:00,103,103,11,105,11,206
13771,610144-4e95defd2af24ea190dab8b1f563fd77,Four Seasons - louisville,6,1,2023-07-05 17:42:22.545,2023-07-11 11:00:00,341,186,17,192,11,2046

In [ ]:
# average nights per user_id
# but we dnt have user_id in hotels, so we need to merge

# Df to relate user_id with trip_id (used in hotels and flights)
user_trip_id = sessions_valid[['user_id','trip_id']].drop_duplicates()
user_trip_id

       user_id                                  trip_id
0       536782                                      NaN
1       570600                                      NaN
2       511055  511055-57ed6923358d47a0a3be86eaf8128ece
3       677209                                      NaN
4       546867                                      NaN
...        ...                                      ...
47429   560497  560497-deba8e593f6a4fa8b94b75ee4a8f4ecd
47430   525089  525089-118e10d811ad440a8690feec4bff1f2a
47431   582801  582801-36ffbf38bbb944f29a14f0bba8b43186
47433   515523  515523-5fbd163e4452409395e1f4615bd29dd9
47434   468666  468666-03b9b2050f5a4b239f20febab410c2fd

[20673 rows x 2 columns]

In [ ]:
hotels = pd.merge(hotels,user_trip_id, on='trip_id',how='left')
hotels

,trip_id,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd,check_in_dayofyear,check_in_hour,check_out_dayofyear,check_out_hour,price,user_id
0,582979-5475b9940ee240bf9328a0cc0bc9900c,NH Hotel - ottawa,7,1,2023-03-31 13:32:21.030,2023-04-07 11:00:00,110,90,13,97,11,770,582979.0
1,514785-863ac3b4eb984f1eb226d67955623a5d,Choice Hotels - montreal,4,1,2023-06-21 20:06:24.300,2023-06-25 11:00:00,87,172,20,176,11,348,514785.0
2,588386-233db0f627cf4aaaaeaa9a632daa5ec4,Accor - philadelphia,1,1,2023-04-04 10:43:44.175,2023-04-05 11:00:00,126,94,10,95,11,126,588386.0
3,474120-a87f749cf54b4f4ca9262d07080a06b2,Accor - san francisco,5,2,2023-02-02 14:18:11.205,2023-02-07 11:00:00,346,33,14,38,11,3460,474120.0
4,600395-79e934e3dcf2462587a0beffbebd6783,Marriott - memphis,2,2,2023-04-21 15:58:28.200,2023-04-23 11:00:00,153,111,15,113,11,612,600395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13767,583623-70097bf1d1334cfb891ac2bd09f448ae,Shangri-La - montreal,4,1,2023-02-23 17:25:07.185,2023-02-27 11:00:00,142,54,17,58,11,568,583623.0
13768,512377-acf089357a6b497d91eda34bb532578d,Marriott - washington,6,1,2023-04-02 12:25:51.465,2023-04-08 11:00:00,446,92,12,98,11,2676,NaN
13769,598533-40848e5db09e46aa8f56c0c3ccdefb2d,Hyatt - macau,12,1,2024-01-24 09:54:31.635,2024-02-05 11:00:00,114,24,9,36,11,1368,NaN
13770,497042-fa163de72e234eaf9c9bc8b477fbf66a,Hyatt - san antonio,2,1,2023-04-13 11:40:58.350,2023-04-15 11:00:00,103,103,11,105,11,206,497042.0
13771,610144-4e95defd2af24ea190dab8b1f563fd77,Four Seasons - louisville,6,1,2023-07-05 17:42:22.545,2023-07-11 11:00:00,341,186,17,192,11,2046,610144.0

In [ ]:
hotels_valid=hotels[~hotels['trip_id'].isin(canceled_trip_ids)].copy()
hotels_valid

,trip_id,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd,check_in_dayofyear,check_in_hour,check_out_dayofyear,check_out_hour,price,user_id
0,582979-5475b9940ee240bf9328a0cc0bc9900c,NH Hotel - ottawa,7,1,2023-03-31 13:32:21.030,2023-04-07 11:00:00,110,90,13,97,11,770,582979.0
1,514785-863ac3b4eb984f1eb226d67955623a5d,Choice Hotels - montreal,4,1,2023-06-21 20:06:24.300,2023-06-25 11:00:00,87,172,20,176,11,348,514785.0
2,588386-233db0f627cf4aaaaeaa9a632daa5ec4,Accor - philadelphia,1,1,2023-04-04 10:43:44.175,2023-04-05 11:00:00,126,94,10,95,11,126,588386.0
3,474120-a87f749cf54b4f4ca9262d07080a06b2,Accor - san francisco,5,2,2023-02-02 14:18:11.205,2023-02-07 11:00:00,346,33,14,38,11,3460,474120.0
4,600395-79e934e3dcf2462587a0beffbebd6783,Marriott - memphis,2,2,2023-04-21 15:58:28.200,2023-04-23 11:00:00,153,111,15,113,11,612,600395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13765,489785-3536fb4b92214634ba0d79ff10d884df,Choice Hotels - new york,4,1,2023-03-07 18:31:38.010,2023-03-11 11:00:00,224,66,18,70,11,896,489785.0
13766,525053-971b75befda441c7b1af7500e4652ddf,Hilton - milwaukee,2,1,2023-03-31 20:42:13.815,2023-04-02 11:00:00,200,90,20,92,11,400,525053.0
13767,583623-70097bf1d1334cfb891ac2bd09f448ae,Shangri-La - montreal,4,1,2023-02-23 17:25:07.185,2023-02-27 11:00:00,142,54,17,58,11,568,583623.0
13770,497042-fa163de72e234eaf9c9bc8b477fbf66a,Hyatt - san antonio,2,1,2023-04-13 11:40:58.350,2023-04-15 11:00:00,103,103,11,105,11,206,497042.0
13771,610144-4e95defd2af24ea190dab8b1f563fd77,Four Seasons - louisville,6,1,2023-07-05 17:42:22.545,2023-07-11 11:00:00,341,186,17,192,11,2046,610144.0

In [ ]:
# avg rooms per user (feature 6)
user_rooms = hotels_valid.groupby('user_id')['rooms'].mean()
user_rooms

user_id
94883.0     1.500000
101486.0    1.500000
101961.0    1.000000
118043.0    1.250000
125845.0    1.333333
              ...
785186.0    1.000000
792549.0    1.000000
796032.0    1.000000
801660.0    1.000000
811077.0    1.000000
Name: rooms, Length: 5140, dtype: float64

In [ ]:
# avg nights per user (feature 7)
user_nights = hotels_valid.groupby('user_id')['nights'].mean()
user_nights

user_id
94883.0     1.000000
101486.0    4.500000
101961.0    4.400000
118043.0    6.000000
125845.0    2.333333
              ...
785186.0    1.500000
792549.0    5.000000
796032.0    4.500000
801660.0    2.333333
811077.0    7.000000
Name: nights, Length: 5140, dtype: float64

In [ ]:
# avg price per user (feature 8)
user_price = hotels_valid.groupby('user_id')['price'].mean()
user_hotel_price=user_price.rename('hotel_price')
user_hotel_price

user_id
94883.0      115.000000
101486.0    1226.000000
101961.0     559.600000
118043.0    1659.500000
125845.0     288.000000
               ...
785186.0     237.500000
792549.0     180.000000
796032.0     827.500000
801660.0     360.333333
811077.0     994.000000
Name: hotel_price, Length: 5140, dtype: float64

In [ ]:
# amount of trips with hotels per user (feature 9)
user_hotels = hotels_valid.groupby('user_id')['trip_id'].nunique()
user_hotels=user_hotels.rename('hotel_count')
user_hotels

user_id
94883.0     2
101486.0    2
101961.0    5
118043.0    4
125845.0    3
           ..
785186.0    2
792549.0    1
796032.0    2
801660.0    3
811077.0    1
Name: hotel_count, Length: 5140, dtype: int64

# **Features from Flights**

In [ ]:
flights.head(5)

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,price
0,582979-5475b9940ee240bf9328a0cc0bc9900c,RNO,ottawa,YOW,1,True,2023-03-31 07:00:00,2023-04-07 07:00:00,1,Air Canada,45.323,-75.669,657.64,657.64
1,514785-863ac3b4eb984f1eb226d67955623a5d,FTW,montreal,YHU,1,False,2023-06-21 15:00:00,NaT,0,Delta Air Lines,45.517,-73.417,221.83,221.83
2,588386-233db0f627cf4aaaaeaa9a632daa5ec4,CLE,philadelphia,PHL,1,True,2023-04-04 08:00:00,2023-04-06 08:00:00,2,American Airlines,39.872,-75.241,106.00,106.00
3,474120-a87f749cf54b4f4ca9262d07080a06b2,YQB,san francisco,SFO,2,True,2023-02-02 07:00:00,2023-02-07 07:00:00,0,Alaska Airlines,37.619,-122.375,1507.83,3015.66
4,600395-79e934e3dcf2462587a0beffbebd6783,HOU,memphis,MEM,2,True,2023-04-21 13:00:00,2023-04-24 13:00:00,0,Delta Air Lines,35.042,-89.977,320.19,640.38

In [ ]:
flights = pd.merge(flights, user_trip_id, on='trip_id', how='left')
flights_valid = flights[~flights['trip_id'].isin(canceled_trip_ids)].copy()

flights_valid

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,price,user_id
0,582979-5475b9940ee240bf9328a0cc0bc9900c,RNO,ottawa,YOW,1,True,2023-03-31 07:00:00,2023-04-07 07:00:00,1,Air Canada,45.323,-75.669,657.64,657.64,582979.0
1,514785-863ac3b4eb984f1eb226d67955623a5d,FTW,montreal,YHU,1,False,2023-06-21 15:00:00,NaT,0,Delta Air Lines,45.517,-73.417,221.83,221.83,514785.0
2,588386-233db0f627cf4aaaaeaa9a632daa5ec4,CLE,philadelphia,PHL,1,True,2023-04-04 08:00:00,2023-04-06 08:00:00,2,American Airlines,39.872,-75.241,106.00,106.00,588386.0
3,474120-a87f749cf54b4f4ca9262d07080a06b2,YQB,san francisco,SFO,2,True,2023-02-02 07:00:00,2023-02-07 07:00:00,0,Alaska Airlines,37.619,-122.375,1507.83,3015.66,474120.0
4,600395-79e934e3dcf2462587a0beffbebd6783,HOU,memphis,MEM,2,True,2023-04-21 13:00:00,2023-04-24 13:00:00,0,Delta Air Lines,35.042,-89.977,320.19,640.38,600395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13186,489785-3536fb4b92214634ba0d79ff10d884df,ATL,new york,JFK,1,True,2023-03-07 15:00:00,2023-03-12 15:00:00,1,Lufthansa,40.640,-73.779,218.01,218.01,489785.0
13187,525053-971b75befda441c7b1af7500e4652ddf,YYC,milwaukee,MKE,1,True,2023-03-31 16:00:00,2023-04-03 16:00:00,0,AirTran Airways,42.947,-87.896,398.92,398.92,525053.0
13188,583623-70097bf1d1334cfb891ac2bd09f448ae,TUS,montreal,YHU,1,True,2023-02-23 11:00:00,2023-02-27 11:00:00,0,American Airlines,45.517,-73.417,633.95,633.95,583623.0
13191,497042-fa163de72e234eaf9c9bc8b477fbf66a,FAT,san antonio,RND,1,True,2023-04-13 07:00:00,2023-04-16 07:00:00,0,United Airlines,29.529,-98.279,369.10,369.10,497042.0
13192,610144-4e95defd2af24ea190dab8b1f563fd77,LAX,louisville,LOU,1,True,2023-07-05 12:00:00,2023-07-12 12:00:00,1,United Airlines,38.228,-85.664,508.95,508.95,610144.0

In [ ]:
# Average flight seats per user (feature 10)
user_seats = flights_valid. groupby('user_id') ['seats'].mean ()
# Average flight price per user (feature 11)
user_flight_price = flights_valid.groupby('user_id') ['price'].mean()
user_flight_price = user_flight_price.rename('flight_price')
# Amount of flights per user (feature 12)
user_flights = flights_valid. groupby('user_id') ['trip_id']. nunique()
user_flights = user_flights. rename('flight_count')
# Amount of checked bags per user (feature 13)
user_checked_bags = flights_valid.groupby('user_id')['checked_bags'].mean()

# **Features from Users**

In [ ]:
print(users.shape)
users.head(5)

(5782, 11)

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,531931,1984-05-26,F,False,False,usa,san jose,SJC,37.362,-121.929,2023-01-15
1,611065,1981-08-20,F,False,False,usa,los angeles,LAX,33.942,-118.408,2023-02-22
2,229330,1976-11-08,F,True,False,usa,colorado springs,COS,38.806,-104.700,2022-06-27
3,586762,1987-09-26,F,False,False,canada,montreal,YUL,45.468,-73.741,2023-02-11
4,536035,1995-11-09,M,False,False,usa,new york,LGA,40.777,-73.872,2023-01-17

In [ ]:
# feature 14 (avg distnace in km flown by each user_id)

# flights_valid table is merged  with users to get home airport coordinates
flights_with_user_info = pd.merge(
    flights_valid,
    users[['user_id', 'home_airport_lat', 'home_airport_lon']],
    on='user_id',
    how='left'
)

# Define the Haversine function to calculate the distance from home airport to destination airport
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth's radius in kilometers
    phi1 = np.radians(lat1)
    phi2 = np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)

    a = np.sin(delta_phi / 2.0) ** 2 + \
        np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2.0) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    return R * c

# Calculate the distance
flights_with_user_info['distance_km'] = haversine(
    flights_with_user_info['home_airport_lat'],
    flights_with_user_info['home_airport_lon'],
    flights_with_user_info['destination_airport_lat'],
    flights_with_user_info['destination_airport_lon']
)

# Group by user and calculate average distance is flown
avg_distance_flown_km = flights_with_user_info.groupby('user_id')['distance_km'].mean().reset_index()
avg_distance_flown_km.rename(columns={'distance_km': 'avg_km_flown'}, inplace=True)

# Optional: Display result
print(avg_distance_flown_km.head())
print(avg_distance_flown_km.shape)

    user_id  avg_km_flown
0   94883.0   1453.666128
1  101486.0    965.340568
2  101961.0   1321.684183
3  118043.0   2455.024509
4  125845.0   2700.781458
(4855, 2)

In [ ]:
users['birthdate'] = pd. to_datetime(users['birthdate'])
today = pd.Timestamp.today()
users['age'] = (today-users[ 'birthdate']).dt.days//365 # feature 15
users ['tenure_months'] = ((today-pd. to_datetime(users['sign_up_date'])).dt.days//30.41).astype('int64') # feature 16
users

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date,age,tenure_months
0,531931,1984-05-26,F,False,False,usa,san jose,SJC,37.362,-121.929,2023-01-15,40,26
1,611065,1981-08-20,F,False,False,usa,los angeles,LAX,33.942,-118.408,2023-02-22,43,25
2,229330,1976-11-08,F,True,False,usa,colorado springs,COS,38.806,-104.700,2022-06-27,48,33
3,586762,1987-09-26,F,False,False,canada,montreal,YUL,45.468,-73.741,2023-02-11,37,25
4,536035,1995-11-09,M,False,False,usa,new york,LGA,40.777,-73.872,2023-01-17,29,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,521235,1989-06-21,F,False,False,usa,seattle,SEA,47.449,-122.309,2023-01-10,35,26
5778,591155,1982-12-26,M,True,False,canada,windsor,YQG,42.276,-82.956,2023-02-13,42,25
5779,600351,1976-07-15,F,True,False,usa,portland,PDX,45.589,-122.597,2023-02-17,48,25
5780,577044,1969-07-26,F,True,True,usa,chicago,UGN,42.422,-87.868,2023-02-06,55,26
5781,597300,1987-09-04,F,True,True,usa,new york,JFK,40.640,-73.779,2023-02-16,37,25

16 Features are created

# **Join Features**

In [ ]:
# features (15 - 21)
user_features = users[['user_id','gender','married','home_country', 'has_children','age','tenure_months' ]].copy()
user_features

      user_id gender  married home_country  has_children  age  tenure_months
0      531931      F    False          usa         False   40             26
1      611065      F    False          usa         False   43             25
2      229330      F     True          usa         False   48             33
3      586762      F    False       canada         False   37             25
4      536035      M    False          usa         False   29             26
...       ...    ...      ...          ...           ...  ...            ...
5777   521235      F    False          usa         False   35             26
5778   591155      M     True       canada         False   42             25
5779   600351      F     True          usa         False   48             25
5780   577044      F     True          usa          True   55             26
5781   597300      F     True          usa          True   37             25

[5782 rows x 7 columns]

In [ ]:
user_features = user_features.merge(amount_of_trips, on='user_id', how='left').merge(amount_of_sessions, on='user_id', how='left').merge(avg_page_clicks, on='user_id', how='left').merge(canceled_trips_count, on='user_id', how='left').merge(valid_session_duration, on='user_id', how='left').merge(user_rooms, on='user_id', how='left').merge(user_nights, on='user_id', how='left').merge(user_hotel_price, on='user_id', how='left').merge(user_hotels, on='user_id', how='left').merge(user_seats, on='user_id', how='left'). merge(user_flight_price, on='user_id', how='left').merge(user_flights, on='user_id', how='left').merge(user_checked_bags, on='user_id',
how='left').merge(avg_distance_flown_km, on='user_id', how='left')
user_features

,user_id,gender,married,home_country,has_children,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,...,session_duration,rooms,nights,hotel_price,hotel_count,seats,flight_price,flight_count,checked_bags,avg_km_flown
0,531931,F,False,usa,False,40,26,2,8,9.375000,...,0 days 00:01:10.875000,1.500000,3.500000,714.000000,2.0,1.500000,1676.630000,2.0,0.500000,3238.749749
1,611065,F,False,usa,False,43,25,4,8,19.875000,...,0 days 00:02:26.750000,1.500000,2.250000,677.750000,4.0,1.500000,1790.872500,4.0,0.750000,3342.929238
2,229330,F,True,usa,False,48,33,4,8,16.125000,...,0 days 00:01:59.625000,1.750000,2.000000,1028.500000,4.0,1.750000,720.802500,4.0,0.250000,1201.119453
3,586762,F,False,canada,False,37,25,3,8,15.750000,...,0 days 00:01:56.375000,1.333333,7.333333,2140.666667,3.0,1.333333,762.496667,3.0,0.333333,2818.710430
4,536035,M,False,usa,False,29,26,2,8,13.875000,...,0 days 00:01:42.750000,1.500000,1.500000,291.000000,2.0,1.500000,931.700000,2.0,0.500000,1484.887202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,521235,F,False,usa,False,35,26,5,8,24.250000,...,0 days 00:02:59.875000,1.600000,5.400000,918.200000,5.0,1.800000,1541.054000,5.0,1.200000,2816.228255
5778,591155,M,True,canada,False,42,25,2,8,15.500000,...,0 days 00:01:55.125000,1.000000,4.000000,541.500000,2.0,1.000000,546.350000,1.0,1.000000,3163.054440
5779,600351,F,True,usa,False,48,25,2,8,15.000000,...,0 days 00:01:52.500000,1.000000,5.000000,1300.000000,1.0,1.000000,523.340000,2.0,0.500000,3121.115690
5780,577044,F,True,usa,True,55,26,3,9,20.333333,...,0 days 00:02:30.111111111,1.000000,1.000000,270.500000,2.0,1.333333,449.743333,3.0,0.333333,1193.525629
5781,597300,F,True,usa,True,37,25,2,8,11.375000,...,0 days 00:01:23.750000,1.500000,8.000000,2365.000000,2.0,1.500000,486.595000,2.0,0.000000,1494.297709

In [ ]:
user_features.head(5)

,user_id,gender,married,home_country,has_children,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,...,session_duration,rooms,nights,hotel_price,hotel_count,seats,flight_price,flight_count,checked_bags,avg_km_flown
0,531931,F,False,usa,False,40,26,2,8,9.375,...,0 days 00:01:10.875000,1.500000,3.500000,714.000000,2.0,1.500000,1676.630000,2.0,0.500000,3238.749749
1,611065,F,False,usa,False,43,25,4,8,19.875,...,0 days 00:02:26.750000,1.500000,2.250000,677.750000,4.0,1.500000,1790.872500,4.0,0.750000,3342.929238
2,229330,F,True,usa,False,48,33,4,8,16.125,...,0 days 00:01:59.625000,1.750000,2.000000,1028.500000,4.0,1.750000,720.802500,4.0,0.250000,1201.119453
3,586762,F,False,canada,False,37,25,3,8,15.750,...,0 days 00:01:56.375000,1.333333,7.333333,2140.666667,3.0,1.333333,762.496667,3.0,0.333333,2818.710430
4,536035,M,False,usa,False,29,26,2,8,13.875,...,0 days 00:01:42.750000,1.500000,1.500000,291.000000,2.0,1.500000,931.700000,2.0,0.500000,1484.887202

In [ ]:
user_features['canceled_trips'].value_counts()

canceled_trips
1.0    559
2.0     15
Name: count, dtype: int64

In [ ]:
# return the user_features table where rows contain NaN
# Access the user_features DataFrame
user_features_nan = user_features[user_features.isnull().any(axis=1)]

# Display the rows with NaN values
user_features_nan

,user_id,gender,married,home_country,has_children,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,...,session_duration,rooms,nights,hotel_price,hotel_count,seats,flight_price,flight_count,checked_bags,avg_km_flown
0,531931,F,False,usa,False,40,26,2,8,9.375000,...,0 days 00:01:10.875000,1.500000,3.500000,714.000000,2.0,1.500000,1676.630000,2.0,0.500000,3238.749749
1,611065,F,False,usa,False,43,25,4,8,19.875000,...,0 days 00:02:26.750000,1.500000,2.250000,677.750000,4.0,1.500000,1790.872500,4.0,0.750000,3342.929238
2,229330,F,True,usa,False,48,33,4,8,16.125000,...,0 days 00:01:59.625000,1.750000,2.000000,1028.500000,4.0,1.750000,720.802500,4.0,0.250000,1201.119453
3,586762,F,False,canada,False,37,25,3,8,15.750000,...,0 days 00:01:56.375000,1.333333,7.333333,2140.666667,3.0,1.333333,762.496667,3.0,0.333333,2818.710430
4,536035,M,False,usa,False,29,26,2,8,13.875000,...,0 days 00:01:42.750000,1.500000,1.500000,291.000000,2.0,1.500000,931.700000,2.0,0.500000,1484.887202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,521235,F,False,usa,False,35,26,5,8,24.250000,...,0 days 00:02:59.875000,1.600000,5.400000,918.200000,5.0,1.800000,1541.054000,5.0,1.200000,2816.228255
5778,591155,M,True,canada,False,42,25,2,8,15.500000,...,0 days 00:01:55.125000,1.000000,4.000000,541.500000,2.0,1.000000,546.350000,1.0,1.000000,3163.054440
5779,600351,F,True,usa,False,48,25,2,8,15.000000,...,0 days 00:01:52.500000,1.000000,5.000000,1300.000000,1.0,1.000000,523.340000,2.0,0.500000,3121.115690
5780,577044,F,True,usa,True,55,26,3,9,20.333333,...,0 days 00:02:30.111111111,1.000000,1.000000,270.500000,2.0,1.333333,449.743333,3.0,0.333333,1193.525629
5781,597300,F,True,usa,True,37,25,2,8,11.375000,...,0 days 00:01:23.750000,1.500000,8.000000,2365.000000,2.0,1.500000,486.595000,2.0,0.000000,1494.297709

In [ ]:
user_features['gender'].value_counts()

gender
F    5118
M     653
O      11
Name: count, dtype: int64

In [ ]:
user_features.describe()

,user_id,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,canceled_trips,session_duration,rooms,nights,hotel_price,hotel_count,seats,flight_price,flight_count,checked_bags,avg_km_flown
count,5782.000000,5782.000000,5782.000000,5782.000000,5782.000000,5782.000000,574.000000,5782,5140.000000,5140.000000,5140.000000,5140.000000,4855.000000,4855.000000,4855.000000,4855.000000,4855.000000
mean,547670.236077,42.642338,25.995503,2.677966,8.204082,17.596754,1.026132,0 days 00:01:55.272506561,1.200513,4.297670,928.610853,2.600973,1.185156,677.675536,2.605973,0.579303,2174.561799
std,64035.394540,12.047737,1.154542,1.520225,0.459986,8.787925,0.159668,0 days 00:00:35.760349934,0.354829,2.740330,948.106056,1.277174,0.367670,1356.791234,1.284694,0.457929,1249.356241
min,94883.000000,18.000000,22.000000,0.000000,8.000000,4.125000,1.000000,0 days 00:00:30.666666666,1.000000,0.000000,0.000000,1.000000,1.000000,8.170000,1.000000,0.000000,47.744509
25%,519413.750000,36.000000,26.000000,2.000000,8.000000,12.444444,1.000000,0 days 00:01:30.555555555,1.000000,2.500000,413.500000,2.000000,1.000000,287.740000,2.000000,0.250000,1455.235111
50%,542279.500000,43.000000,26.000000,3.000000,8.000000,15.625000,1.000000,0 days 00:01:51.500000,1.000000,3.666667,667.000000,2.000000,1.000000,415.833333,2.000000,0.500000,2009.265445
75%,576215.500000,50.000000,26.000000,4.000000,8.000000,19.625000,1.000000,0 days 00:02:16,1.333333,5.250000,1094.000000,3.000000,1.250000,647.800000,3.000000,1.000000,2654.288276
max,844489.000000,89.000000,37.000000,8.000000,12.000000,109.125000,2.000000,0 days 00:07:11.333333333,4.000000,30.000000,14057.000000,8.000000,6.000000,41666.050000,8.000000,5.000000,15813.840702

we can write canceled_trips = 0 where it is NaN. But in flight_price we can not write 0 where it is NaN cause then mean will be wrong.

In [ ]:
user_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             5782 non-null   int64
 1   gender              5782 non-null   object
 2   married             5782 non-null   bool
 3   home_country        5782 non-null   object
 4   has_children        5782 non-null   bool
 5   age                 5782 non-null   int64
 6   tenure_months       5782 non-null   int64
 7   amount_of_trips     5782 non-null   int64
 8   amount_of_sessions  5782 non-null   int64
 9   avg_page_clicks     5782 non-null   float64
 10  canceled_trips      574 non-null    float64
 11  session_duration    5782 non-null   timedelta64[ns]
 12  rooms               5140 non-null   float64
 13  nights              5140 non-null   float64
 14  hotel_price         5140 non-null   float64
 15  hotel_count         5140 non-null   float64
 16  seats               4855 non-null   float64
 17  flight_price        4855 non-null   float64
 18  flight_count        4855 non-null   float64
 19  checked_bags        4855 non-null   float64
 20  avg_km_flown        4855 non-null   float64
dtypes: bool(2), float64(11), int64(5), object(2), timedelta64[ns](1)
memory usage: 869.7+ KB

In [ ]:
user_features.tail(5)

,user_id,gender,married,home_country,has_children,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,...,session_duration,rooms,nights,hotel_price,hotel_count,seats,flight_price,flight_count,checked_bags,avg_km_flown
5777,521235,F,False,usa,False,35,26,5,8,24.250000,...,0 days 00:02:59.875000,1.6,5.4,918.2,5.0,1.800000,1541.054000,5.0,1.200000,2816.228255
5778,591155,M,True,canada,False,42,25,2,8,15.500000,...,0 days 00:01:55.125000,1.0,4.0,541.5,2.0,1.000000,546.350000,1.0,1.000000,3163.054440
5779,600351,F,True,usa,False,48,25,2,8,15.000000,...,0 days 00:01:52.500000,1.0,5.0,1300.0,1.0,1.000000,523.340000,2.0,0.500000,3121.115690
5780,577044,F,True,usa,True,55,26,3,9,20.333333,...,0 days 00:02:30.111111111,1.0,1.0,270.5,2.0,1.333333,449.743333,3.0,0.333333,1193.525629
5781,597300,F,True,usa,True,37,25,2,8,11.375000,...,0 days 00:01:23.750000,1.5,8.0,2365.0,2.0,1.500000,486.595000,2.0,0.000000,1494.297709

In [ ]:
user_features['canceled_trips']= user_features['canceled_trips'].fillna(0)
user_features['canceled_trips'].value_counts()

canceled_trips
0.0    5208
1.0     559
2.0      15
Name: count, dtype: int64

In [ ]:
user_features ['flight_count'] = user_features['flight_count']. fillna(0)
user_features ['hotel_count'] = user_features ['hotel_count']. fillna (0)
user_features['rooms']= user_features['rooms'].fillna(0)
user_features['nights']= user_features['nights'].fillna(0)
user_features['seats']= user_features['seats'].fillna(0)
user_features['avg_km_flown']= user_features['avg_km_flown'].fillna(0)


print(user_features['flight_count'].value_counts())
print(user_features['hotel_count'].value_counts())

flight_count
2.0    1369
3.0    1232
1.0    1105
0.0     927
4.0     753
5.0     291
6.0      90
7.0      14
8.0       1
Name: count, dtype: int64
hotel_count
2.0    1430
3.0    1328
1.0    1179
4.0     780
0.0     642
5.0     325
6.0      86
7.0      11
8.0       1
Name: count, dtype: int64

In [ ]:
user_features.rename(columns={ 'session_duration': 'session_duration_avg', 'rooms':'rooms_avg', 'nights':'nights_avg',
'hotel_price': 'hotel_price_avg', 'seats': 'seats_avg', 'flight_price':'flight_price_avg', 'checked_bags':'checked_bags_avg'}, inplace=True)

In [ ]:
user_features['session_duration_avg_sec']=user_features['session_duration_avg'].dt.total_seconds()
# drop session_duration_avg
user_features.drop('session_duration_avg', axis=1, inplace=True)
user_features['session_duration_avg_sec']

0        70.875000
1       146.750000
2       119.625000
3       116.375000
4       102.750000
           ...
5777    179.875000
5778    115.125000
5779    112.500000
5780    150.111111
5781     83.750000
Name: session_duration_avg_sec, Length: 5782, dtype: float64

In [ ]:
# Replace gender values
user_features['gender'] = user_features['gender'].str.strip().str.upper()
user_features['gender'] = user_features['gender'].replace({'F': 1, 'M': 0, 'O': 2})

user_features['gender'].value_counts()

<ipython-input-40-354dee3dc679>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  user_features['gender'] = user_features['gender'].replace({'F': 1, 'M': 0, 'O': 2})

gender
1    5118
0     653
2      11
Name: count, dtype: int64

In [ ]:
user_features

,user_id,gender,married,home_country,has_children,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,...,rooms_avg,nights_avg,hotel_price_avg,hotel_count,seats_avg,flight_price_avg,flight_count,checked_bags_avg,avg_km_flown,session_duration_avg_sec
0,531931,1,False,usa,False,40,26,2,8,9.375000,...,1.500000,3.500000,714.000000,2.0,1.500000,1676.630000,2.0,0.500000,3238.749749,70.875000
1,611065,1,False,usa,False,43,25,4,8,19.875000,...,1.500000,2.250000,677.750000,4.0,1.500000,1790.872500,4.0,0.750000,3342.929238,146.750000
2,229330,1,True,usa,False,48,33,4,8,16.125000,...,1.750000,2.000000,1028.500000,4.0,1.750000,720.802500,4.0,0.250000,1201.119453,119.625000
3,586762,1,False,canada,False,37,25,3,8,15.750000,...,1.333333,7.333333,2140.666667,3.0,1.333333,762.496667,3.0,0.333333,2818.710430,116.375000
4,536035,0,False,usa,False,29,26,2,8,13.875000,...,1.500000,1.500000,291.000000,2.0,1.500000,931.700000,2.0,0.500000,1484.887202,102.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,521235,1,False,usa,False,35,26,5,8,24.250000,...,1.600000,5.400000,918.200000,5.0,1.800000,1541.054000,5.0,1.200000,2816.228255,179.875000
5778,591155,0,True,canada,False,42,25,2,8,15.500000,...,1.000000,4.000000,541.500000,2.0,1.000000,546.350000,1.0,1.000000,3163.054440,115.125000
5779,600351,1,True,usa,False,48,25,2,8,15.000000,...,1.000000,5.000000,1300.000000,1.0,1.000000,523.340000,2.0,0.500000,3121.115690,112.500000
5780,577044,1,True,usa,True,55,26,3,9,20.333333,...,1.000000,1.000000,270.500000,2.0,1.333333,449.743333,3.0,0.333333,1193.525629,150.111111
5781,597300,1,True,usa,True,37,25,2,8,11.375000,...,1.500000,8.000000,2365.000000,2.0,1.500000,486.595000,2.0,0.000000,1494.297709,83.750000

In [ ]:
# return the user_features table where rows contain NaN
# Access the user_features DataFrame
user_features_nan = user_features[user_features.isnull().any(axis=1)]

# Display the rows with NaN values
user_features_nan

,user_id,gender,married,home_country,has_children,age,tenure_months,amount_of_trips,amount_of_sessions,avg_page_clicks,...,rooms_avg,nights_avg,hotel_price_avg,hotel_count,seats_avg,flight_price_avg,flight_count,checked_bags_avg,avg_km_flown,session_duration_avg_sec
17,562032,1,False,usa,False,23,26,2,8,15.125000,...,1.5,7.5,2180.0,2.0,0.0,NaN,0.0,NaN,0.000000,110.750
20,517324,1,True,usa,False,70,26,1,8,20.500000,...,0.0,0.0,NaN,0.0,1.0,472.44,1.0,1.0,2548.005699,152.500
22,577944,1,True,usa,False,69,26,1,8,10.750000,...,2.0,6.0,876.0,1.0,0.0,NaN,0.0,NaN,0.000000,80.875
23,565601,0,True,usa,True,51,26,0,8,9.750000,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,73.375
31,548123,0,True,canada,True,48,26,0,8,8.000000,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,59.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5738,629747,1,False,usa,False,20,25,0,8,12.375000,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,92.125
5740,520561,1,False,usa,True,32,26,0,8,14.875000,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,111.500
5744,511552,0,False,usa,True,19,27,1,8,19.375000,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,143.000
5767,481781,1,False,usa,False,76,27,0,9,8.666667,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,65.000
5769,331039,1,True,canada,True,45,30,1,8,24.750000,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.000000,141.000

amount_of_trips=0 /canceled_trips= 0 means , that person has just a sesssion (session duration) but did not book flight and hotel, this is the reason we put 0 in hotel and flight count when it has NaN, and same  in room, nights, seats column. Avg flight price and room price and seat with NaN, are left as it is.

In [ ]:
# save the user_features table as csv and download in my pc

from google.colab import files
user_features.to_csv('user_features.csv', encoding = 'utf-8-sig')
files.download('user_features.csv')